/* You can add global styles to this file, and also import other style files */
.header {
    padding-top: 2%;
    background-color: white;
    text-align: center;
}

.bank {
    width: 20%;
    height: 20%;
}

.body {
    padding: 2%;
    background-color: #f2f2f2;
}

.rounded {
    border-radius: 8px;
    padding: 10%;
    border: 1px solid;
}

.add-button {
    padding: 1.5%;
    font-weight: bold;
    background-color: #FFDF00;
    border: none;
    cursor: pointer;
    color: #1E2D5F;
}

.reset-button {
    padding: 1.5%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #1E2D5F;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5%;
}

.col-6 {
    width: calc(50% - 2%);
    padding: 1%;
    box-sizing: border-box;
    margin: 1%;
}

.col-6 {
    margin-bottom: 2%;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.text-right {
    text-align: right;
    justify-content: end;
    float: right;
}

.text-left {
    text-align: left;
    justify-content: start;
    float: left;
}

.select-drop {
    padding: 0.5%;
}

.margin-auto {
    margin: auto;
}

.wide-button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: medium;
}